$bg-color: #f4f5f9;
$primary-text: #42567a;
$accent-blue: #3877ee;
$accent-pink: #ef5da8;
$accent-violet: #5d5fef;
$border-color: rgba(66, 86, 122, 0.5);
$primary-border: #c7cdd9;

$font-main: 'PT Sans', sans-serif;
$font-accent: 'Bebas Neue', cursive;

$z-index-ui: 10;

$circle-radius: 265;
