$bg-color: #F4F5F9;
$primary-text: #42567A;
$accent-blue: #3877EE;
$accent-pink: #EF5DA8;
$accent-violet: #5D5FEF;
$border-color: rgba(66, 86, 122, 0.5);

$font-main: 'PT Sans', sans-serif;
$font-accent: 'Bebas Neue', cursive;

$z-index-ui: 10;