$bg-color: #f4f5f9;
$primary-text: #42567a;
$accent-blue: #3877ee;
$accent-pink: #ef5da8;
$accent-violet: #5d5fef;
$border-color: rgba(66, 86, 122, 0.5);
$primary-border: #c7cdd9;

$font-main: 'PT Sans', sans-serif;
$font-accent: 'Bebas Neue', cursive;

$z-index-ui: 10;

$circle-radius: 265;
$z-index-circle-container: 2;
$z-index-active-dot-container: 3;
$dot-wrapper-size: 40px;
$dot-size: 6px;
$active-dot-size: 56px;
$active-label-font-size: 20px;
$active-label-left-offset: 20px;
$active-label-font-weight: 700;
$white-color: #fff;
$light-gray-color: #f2f2f2;

$desktop-width: 1440px;
$mobile-width: 320px;
