@use '../../../styles/_variables' as *;
@use '../../../styles/mixins' as *;

.browserEventsContainer {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0 32px 0;

  @media (min-width: $desktop-width) {
    max-width: 1281px;
    padding: 0;
    margin: 0;
    margin-left: -22px;
  }
}

.buttonPrev,
.buttonNext {
  display: none;
  position: absolute;
  bottom: 13px;

  @media (min-width: $desktop-width) {
    top: 41px;
  }

  &:disabled {
    display: none;
  }
}

.buttonPrev {
  left: 10px;

  @media (min-width: $desktop-width) {
    left: -80px;
  }
}

.buttonNext {
  left: 33px;

  @media (min-width: $desktop-width) {
    left: auto;
    right: -80px;
  }
}

.paginationContainer {
  margin-top: 75px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.paginationFraction {
  font-size: 14px;
  margin-bottom: 9px;
}

.pagination {
  @include flex-center;
  gap: 2px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.bullet {
  width: 6px;
  height: 6px;
  background-color: $primary-text;
  opacity: 0.4;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.bulletActive {
  opacity: 1;
}

@media (min-width: $mobile-width) {
  .sliderWrapper {
    padding: 0 30px;
  }

  .buttonPrev {
    left: 0;
  }

  .buttonNext {
    right: -10px;
  }
}

.paginationFraction {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.eventSlider {
  :global(.swiper-slide) {
    transition: opacity 0.4s ease;
  }
  :global(.swiper-slide-next) {
    opacity: 0.4;
  }
  :global(.swiper-slide-prev) {
    opacity: 0.4;
  }
  :global(.swiper-slide-active) {
    opacity: 1;
  }

  @media (min-width: 1024px) {
    margin-left: 10px;
    :global(.swiper-slide-next) {
      opacity: 1;
    }
    :global(.swiper-slide-prev) {
      opacity: 1;
    }
    :global(.swiper-slide-active) {
      opacity: 1;
    }
  }
}
