@use '../../../styles/variables' as *;

.timelineBlock {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 59px;
}

.title {
  font-size: 20px;
  font-family: $font-main;
  font-weight: 700;
  color: $primary-text;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 123px;
}

@media (min-width: 1080px) {
  .timelineBlock {
    position: relative;
    padding: 170px 160px 104px 322px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .title {
    display: flex;
    font-family: $font-accent;
    font-size: 49px;
    color: $primary-text;
    margin: 0;
    line-height: 136%;
    align-self: flex-start;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, $accent-blue, $accent-pink) 1;
    padding-left: 75px;
  }
}

.controls {
  position: absolute;
  bottom: 17px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;

  @media (min-width: 1024px) {
    position: relative;
    margin-left: 78px;
    gap: 20px;
  }

}

.controlsButtons {
  display: flex;
  gap: 8px;
  align-items: center;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
    gap: 20px;
  }
}