@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.card {
  @include flex-column;
  width: 100%;
  gap: 15px;
}

.year {
  margin: 0;
  font-size: 16px;
  font-family: $font-accent;
  line-height: 1.2;
  color: $accent-blue;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 25px;
  }
}

.description {
  margin: 0;
  font-size: 14px;
  line-height: 1.45;
  font-family: $font-main;
  color: $primary-text;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.small {
  width: 173px;

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.medium {
  width: 255px;

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.large {
  width: 260px;

  @media (min-width: $desktop-width) {
    width: 440px;
  }
}
